html, body {
    margin: 0;
    font-family: "Comfortaa", sans-serif;
}

#header {
    padding: 5px;
    text-align: center;
    background-color: #87F1FF;
}

#body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form {
    width: 50%;
    margin: 0 auto;
}

.buttons {

}

h2 {
    text-align: center;
}

label:first-child, button:first-child {
    margin-left: 10px;
}

table, th, td {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 4px;
}
