html, body {
    margin: 0;
    font-family: "Comfortaa", sans-serif;
}

#header {
    padding: 5px;
    text-align: center;
    background-color: #87F1FF;
}

#body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#add {
    width: 100%;
}

h2 {
    text-align: center;
}

table, th, td {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 4px;
}
